body{
    margin: 0%;
    height: 100vh;
    font-size: 15px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}

main{
    display: flex;
    width: 100%;
    max-width: 78%;
    height: auto;
    margin: auto 0%;
}

div{
    padding: 50px 5%;
    margin: 10% 0%;
}

div h1{
    font-size: 3.5vw;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

div p{
    margin-bottom: 100px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1.32vw;
    line-height: 28px;
}

div a{
    background-color: hsl(0, 0%, 95%);
    padding: 15px 2.5vmax;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.5vw;
}

div img{
    width: 70px;
}

.MainDiv1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 6px 0px 0px 6px;
}

.MainDiv1 a{
    color: hsl(31, 77%, 52%);
}

.MainDiv1 a:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
    border: 2px solid;
}

.MainDiv2{
    border-radius: 0px;
    background-color: hsl(184, 100%, 22%);
}

.MainDiv2 a{
    color: hsl(184, 100%, 22%);
}

.MainDiv2 a:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
    border: 2px solid;
}

.MainDiv3{
    border-radius: 0px 6px 6px 0px;
    background-color: hsl(179, 100%, 13%);
}

.MainDiv3 a{
    color: hsl(179, 100%, 13%);
}

.MainDiv3 a:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
    border: 2px solid;
}

@media screen and (max-width: 745px) {
    main{
        flex-direction: column;
    }

    div{
        padding: 50px 10%;
    }

    div h1{
        font-size: 9vw;
    }

    div img{
        width: 100%;
        max-width: 35%;
    }

    div p{
        font-size: 3.5vw;
        margin-bottom: 60px
    }

    div a{
        padding: 20px 4vw;
        font-size: 4vw;
    }

    .MainDiv1, .MainDiv2, .MainDiv3{
        margin: 0%;
    }

    .MainDiv1{
        border-radius: 6px 6px 0px 0px;
        margin-top: 20%
    }

    .MainDiv2{
        border-radius: 0px;
    }

    .MainDiv3{
        border-radius: 0px 0px 6px 6px;
        margin-bottom: 20%;
    }
}