body{
    font-size: 15px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}

main{
    display: flex;
    margin-left: 185px;
    margin-right: 175px;
    margin-top: 115px;
    margin-bottom: 115px;
}

div{
    background-color: hsl(31, 77%, 52%);
    width: 243px;
    height: 450px;
    padding: 49px;
    border-radius: 6px 0px 0px 6px;
}

h1{
    font-size: 20px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 43px;
}

p{
    margin-bottom: 100px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 16.5px;
    line-height: 28px;
}

a{
    background-color: white;
    padding: 20px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 30px;
    text-decoration: none;
    color: hsl(31, 77%, 52%);
    font-size: 18px;
}

img{
    width: 70px;
}

.MainDiv2{
    border-radius: 0px;
    background-color: hsl(184, 100%, 22%);
}

.MainDiv2 a{
    color: hsl(184, 100%, 22%);
}

.MainDiv3{
    border-radius: 0px 6px 6px 0px;
    background-color: hsl(179, 100%, 13%);
}

.MainDiv3 a{
    color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 1240px) {
    main{
        display: flex;
        margin-left: 0;
        margin-right: 0;
        margin-top: 115px;
    }

    div{
        width: 543px;
    }
}

@media screen and (max-width: 890px) {
    main{
        margin-bottom: 115px
    }

    div{
        width: 543px;
        height: 650px;
    }

    p{
        margin-bottom: 270px;
    }

    a{
        padding: 20px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 18px;
    }

    .MainDiv2 p{
        margin-bottom: 245px;
    }
}

@media screen and (max-width: 375px) {
    main{
        display: block;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 115px;
        margin-bottom: 115px;
    }

    div{
        width: 223px;
        height: 390px;
        padding: 49px;
        border-radius: 6px 0px 0px 6px;
    }

    p{
        margin-bottom: 50px;
    }

    .MainDiv2 p{
        margin-bottom: 50px;
    }
}